:root {
    --text: 'Yatra One', cursive;
}

body {
    background: url(/images/background-img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#page-container{
    position: relative;
    min-height: 95vh;
}

.navbar {
    margin-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
}

#logo {
    font-family: var(--text);
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.btn {
    font-family: var(--text);
}

#main {
    text-align: center;
    padding-bottom: 2.5rem;
}

#content-title {
    color: white;
    font-family: var(--text);
    font-size: 50px;
    padding-top: 2em;
}

span {
    display: block;
    color: white;
    font-family: var(--text);
    font-size: 25px;
}

#title {
    margin-top: 2em;
    font-size: 50px;
    margin-bottom: 0.5em;
}

#sing-up-btn {
    margin-top: 2em;
}

/*footer*/

.footer {
    color: white;
    font-family: 'Yatra One', cursive;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/*****************Login**********************/

#login-form, #add-movie-form, #edit-movie-form {
    padding: 7% 30% 0;
}

#login-title, #add-movie-title, #edit-movie-title {
    font-family: var(--text);
    color: white;
    padding-bottom: 1em;
}

.login-input, .add-input, #edit-input {
    padding-bottom: 1.5em;
}

#login-btn{
    float: right;
}

.add-form-btns, .edit-form-btns{
    float: right;
    margin-left: 1em;
}

/***********************Register***************************/

#register-form {
    padding: 7% 30% 0;
}

#reg-title {
    font-family: var(--text);
    color: white;
    padding-bottom: 1em;
}

.reg-input {
    padding-bottom: 1.5em;
}

#reg-btn {
    float: right;
}

/***************Error messages****************/

.err-msg {
    background-color: rgb(134, 4, 4);
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 0 0.5em;
    margin-top: 0.2em;
    display: none;
}

/* #email-err-msg{
    display: none;
} */

/**************Movies page***************/

#movies-page-title {
    color: white;
    font-family: var(--text);
}

.card-design {
    padding-top: 2%;
}

movie-card {
    margin: 0;
    padding: 0;
}

.card {
    width: 15em !important;
    margin-right: 1em;
    margin-bottom: 2em;
    background-color: rgba(245, 245, 245, 0.2) !important;
}

.card-title {
    color: white;
    font-family: var(--text);
    font-size: 30px;
}

/**************More Detail Section************/

#movie-details {
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
}

#img-details {
    width: 100%;
}

#article {
    text-align: left !important;
    font-family: var(--text);
    color: white;
}

#article button {
    margin-top: 1em;
}

#back-btn {
    margin-top: 5%;
    margin-left: 5em;
}

#card-img {
    width: 100% !important;
    height: 20vw;
    object-fit: cover;
}
