:root {
    --text: 'Yatra One', cursive;
}

body { 
    background: url(/images/background-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    margin-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
}

#logo {
    font-family: var(--text);
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.btn {
    font-family: var(--text);
}

#main {
    text-align: center;
}

#content-title {
    color: white;
    font-family: var(--text);
    font-size: 50px;
    padding-top: 2em;
}

span {
    display: block;
    color: white;
    font-family: var(--text);
    font-size: 25px;
}

#title {
    margin-top: 2em;
    font-size: 50px;
    margin-bottom: 0.5em;
}

#sing-up-btn {
    margin-top: 2em;
}

/*footer*/

.footer {
    color: white;
    font-family: 'Yatra One', cursive;
    text-align: center;
    position: fixed;
    height: 3em;
    left: 0;
    bottom: 0;
    margin-right: 1em;
    width: 100%;
    padding-top: 0.5em;
}

/*****************Login**********************/

#login-form {
    padding: 7% 30% 0;
}

#login-title {
    font-family: var(--text);
    color: white;
    padding-bottom: 1em;
}

.login-input {
    padding-bottom: 1.5em;
}

#login-btn {
    float: right;
}

/***********************Register***************************/

#register-form {
    padding: 7% 30% 0;
}

#reg-title {
    font-family: var(--text);
    color: white;
    padding-bottom: 1em;
}

.reg-input {
    padding-bottom: 1.5em;
}

#reg-btn {
    float: right;
}


/***************Error messages****************/

.err-msg {
    background-color: rgb(134, 4, 4);
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 0 0.5em;
    margin-top: 0.2em;
    display: none;
}

/* #email-err-msg{
    display: none;
} */

